.carousel-container {
    display: flex;
    overflow: visible; 
    /* hidden */
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .prevSchedule {
    background-color: #FFD100;
    height: 40px;
    border-radius: 20px;
    border: 2px solid white;
    width: 150px;
  }

  .prevSchedule:active {
    background-color: #8BB8E8; 
}

  .downloadSchedule {
    background-color: #ff8000;
    height: 40px;
    border-radius: 20px;
    border: 2px solid white;
    width: 150px;
  }
  .downloadSchedule:active {
    background-color: #8BB8E8; 
  }

  .nextSchedule {
    background-color: #FFD100;
    height: 40px;
    border-radius: 20px;
    border: 2px solid white;
    width: 150px;
  }

  .nextSchedule:active {
    background-color: #8BB8E8; 
}

.scheduleIndex {
    padding: 12px;
}

.Canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid;
  min-height: 200px;
  width: 500px;
}

.classInfo {
  padding: 20px;
}

.css-1fklddj-MuiModal-root-MuiPopover-root .Layout-popover {
  border-radius: 8px;
  width: 825px !important;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

svg text::-moz-selection {
  background: none
}

svg text::selection {
  background: none
}

audio,canvas,embed,iframe,img,object,svg,video {
  display: block;
  vertical-align: middle
}

.stroke-gray-700 {
  stroke: #404040
}

.stroke-gray-900 {
  stroke: #171717
}
.stroke-red-600 {
  stroke: #dc2626
}

.stroke-1 {
  stroke-width: 1
}

.stroke-1\.5 {
  stroke-width: 1.5
}

.dark\:fill-gray-100 {
  fill: #f5f5f5
}

.dark\:stroke-gray-100 {
  stroke: #f5f5f5
}

.dark\:stroke-gray-200 {
  stroke: #e5e5e5
}

.dark\:stroke-white {
  stroke: #fff
}

.fill-gray-800 {
  fill: #262626
}

.fill-none {
  fill: none
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.align-bottom {
  vertical-align: bottom
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-5xl {
  font-size: 3rem;
  line-height: 1
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem
}