.Instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.Description {
    padding: 20px;
    width: 70%;
    margin-top: -25px;
    margin-bottom: 30px;
}

.Boxes {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.BoxText {
    color: white;
    font-size: 20px;
}

.Box {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
